* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-family: Poppins;
}

body {
  background-image: url(./bg.png);
  background-size: cover;
}
.navbar {
  height: 59px;
  display: flex;
  background-color: black;
  justify-content: space-around;
}

.logo {
  width: 53px;
  height: 27px;
  margin-top: 13px;
  margin-left: 27px;
}

.line {
  width: 2px;
  height: 34px;
  display: block;
  margin-left: -221px;
  margin-top: 13px;
  margin-bottom: 13px;
  background-color: #767373;
}

.list,
.button-small {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.grow-list{
  margin-left: -245px;
}
#apps{
  background-color: aliceblue;
}
.button-small {
  width: 107px;
  height: 33px;
  border-radius: 7px;
  background-color: rgb(186 12 197);
  text-align: center;
  color: rgb(255 255 255);
  margin-top: 14px;
  margin-right: 121px;
  padding: 5px 5px 1px 18px;
}
ul li {
  list-style: none;
  padding: 0 15px 0 15px;
  color: azure;
}

.hero {
  width: 97vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-heading {
  font-size: 67px;
  color: #ffffff;
    width: 592px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.hero-description {
  font-size: 23px;
  color: #ffffff;
}

.button-large {
  width: 228px;
  height: 49px;
  border-radius: 7px;
  background-color: rgb(186 12 197);
  text-align: center;
  color: rgb(255 255 255);
  margin-top: 14px;
  border: none;
}
